<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">The Sylheti Guide</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Alphabets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../numbers/index.html">Numbers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Grammar</a>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle active"
                    href="#"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Topics</a
                >
                <div
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdownMenuLink"
                >
                    <a class="dropdown-item" href="#">Emergency</a>
                    <a class="dropdown-item active" href="#">Greetings</a>
                    <a class="dropdown-item" href="#">Expressions</a>
                    <a class="dropdown-item" href="#">Travel</a>
                    <a class="dropdown-item" href="#">Calendar</a>
                    <a class="dropdown-item" href="#">Numbers</a>
                    <a class="dropdown-item" href="#">Shopping</a>
                    <a class="dropdown-item" href="#">Work/Office</a>
                    <a class="dropdown-item" href="#">Food</a>
                    <a class="dropdown-item" href="#">Kitchen</a>
                    <a class="dropdown-item" href="#">Fruits</a>
                    <a class="dropdown-item" href="#">Vegetables</a>
                    <a class="dropdown-item" href="#">Spices</a>
                    <a class="dropdown-item" href="#">Grocery</a>
                    <a class="dropdown-item" href="#">Colors</a>
                    <a class="dropdown-item" href="#">Household</a>
                    <a class="dropdown-item" href="#">Romance</a>
                    <a class="dropdown-item" href="#">Body</a>
                    <a class="dropdown-item" href="#">Time</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
